@font-face {
	font-family: 'Prototype';
	src: url('../fonts/Prototype.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Monospace';
	src: url('../fonts/MonospaceBold.ttf');
}

html, body {
	font-family: 'Montserrat';
	text-align: center;
	height: 100%;
	top: 0;
}

.row {
	height: 100%;
}

.container {
	height: 85%;
	padding-top: 7%;
}

.list-group {
	border-right: 1px solid gray;
	height: 100%;
}

.list-group-item {
	border: none;
	background-image: url("../img/ListItem.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 15px;
}

.list-group-item:not(.noplay) {
	cursor: default;
}

.list-group-item.noplay:hover, .active {
	background-image: url("../img/ListItemActive.png");
	background-repeat: no-repeat;
	background-position: center;
}

.list-group-item.noplay:hover:not(.active) {
	background-size: auto 120%;
}

.list-group a, .list-group a:hover, .list-group a:focus, .list-group .active, .list-group .active:hover, .list-group .active:focus {
	background-color: transparent;
}

#view {
	height: 100%;
}

#seq {
	position: relative;
	letter-spacing: 15px;
	margin-left: 15px;
	font-family: 'Monospace';
}

#human {
	position: relative;
	height: 313px;
	width: 313px;
	top: 20px;
	margin: auto;
}

#human img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#human .bodyPart {
	position: absolute;
	width: 313px;
	background-size: 100% 100%;
}

#human .bodyPart h3 {
	position: absolute;
	text-align: left;
	top: -15px;
}

#human #a1 {
	top: 0;
	height: 55px;
}

#human #a1 h3 {
	left: 195px;
}

#human #a2 {
	top: 58px;
	height: 40px;
}

#human #a2 h3 {
	left: 215px;
}

#human #a3 {
	top: 220px;
	height: 40px;
}

#human #a3 h3 {
	left: 200px;
}

#human #a4 {
	top: 273px;
	height: 40px;
}

#human #a4 h3 {
	left: 200px;
}

#view .glyphicon-play {
	margin-top: 50px;
	color: black;
}

#view .glyphicon-play:hover {
	color: gray;
}

