@font-face {
	font-family: 'Prototype';
	src: url('../fonts/Prototype.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Monospace';
	src: url('../fonts/MonospaceBold.ttf');
}

.noevents {
	pointer-events: none;
}

html, body {
	font-family: 'Montserrat';
	text-align: center;
	height: 100%;
	top: 0;
}

#bgfocus {
	display: none;
	position: absolute;
	z-index: -999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, white, white, white, rgba(0,0,0,0.2));
}

#status-bar {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,0,0.2);
}

#status-bar p {
	margin-top: 5px;
}

.modal {
	margin: auto auto;
}

.row {
	height: 100%;
}

.container {
	height: 85%;
	padding-top: 7%;
}

.left-col {
	border-right: 1px solid gray;
	height: 100%;
}

.right-col {
	border-left: 1px solid gray;
	height: 100%;
}

.list-group-item {
	border: none;
	background-image: url("../img/ListItem.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 15px;
}

.list-group-item:hover, .active {
	background-image: url("../img/ListItemActive.png");
	background-repeat: no-repeat;
	background-position: center;
}

.list-group-item:hover:not(.active) {
	background-size: auto 120%;
}

.list-group a, .list-group a:hover, .list-group a:focus, .list-group .active, .list-group .active:hover, .list-group .active:focus {
	background-color: transparent;
}

#view {
	height: 100%;
}

#seq {
	position: relative;
	letter-spacing: 15px;
	margin-left: 15px;
	font-family: 'Monospace';
}

#human {
	position: relative;
	height: 313px;
	width: 313px;
	top: 20px;
	margin: auto;
}

#human img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.bodyPart {
	position: absolute;
	width: 313px;
	background-size: 100% 100%;
}

.bodyPart h3 {
	position: absolute;
	text-align: left;
	top: -15px;
}

#a1 {
	top: 0;
	height: 55px;
}

#a1 h3 {
	left: 195px;
}

#a2 {
	top: 58px;
	height: 40px;
}

#a2 h3 {
	left: 215px;
}

#a3 {
	top: 220px;
	height: 40px;
}

#a3 h3 {
	left: 200px;
}

#a4 {
	top: 273px;
	height: 40px;
}

#a4 h3 {
	left: 200px;
}

.glyphicon {
	position: relative;
	top: 50px;
	margin: auto;
	color: black;
}

.glyphicon:hover {
	color: gray;
}

.glyphicon-remove, .glyphicon-play {
	opacity: 0.25;
}